{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-3"></div>

        <div class="col-5">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label }}
                    {{ form.username() }}

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div class="form-text" style="color: red;">
                            {{ error }}
                        </div>  
                        {% endfor %}
                    {% endif %}

                </div>
                <div class="mb-3">
                    {{ form.password.label }}
                    {{ form.password() }}

                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="form-text" style="color: red;">
                            {{ error }}
                        </div>  
                        {% endfor %}
                    {% endif %}

                </div>
                <div class="mb-3 form-check">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label(class_="form-check-label") }}
                </div>
                {{form.submit()}}
            </form>
        </div>

    </div>

{% endblock %}